<button onclick=@(() => HandleClick(Position)) class="board__cell">@(View)</button>

@functions
{
    [Parameter]
    string View { get; set; }
    [Parameter]
    int Position { get; set; }

    public void HandleClick(int position)
    {
        TicTacToe.Core.UI.Instance.Manager.HandleClick(position);
    }
}
