@inherits BlazorLayoutComponent


<div class="main">
    @*<div class="menu">
        <NavMenu />
    </div>*@
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="content row px-4">
        <div class="col-12 col-md-8 mx-auto">
            @Body
          </div>
        </div>
</div>
