@inherits BlazorLayoutComponent

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="menu">
        <SymbolMenu />
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
