@page "/aboutus"

<article class="aboutUs">

    <h1>About Us</h1>

    <div class="profile-card">

        <img class="profile-card--mugshot" src="../assets/kris.jpg" />

        <div>
            <div class="profile-cardHeader">
                <h3>Kris Riedman</h3>
                <a href="https://www.linkedin.com/in/kristofer-riedman-3016a0126/">
                    <img src="../assets/linkedin.ico" alt="linkedin" class="favicon" />
                </a>
                <a href="https://github.com/riedmank">
                    <img src="../assets/github.ico" alt="github" class="favicon" />
                </a>
            </div>

            <p>
                Kris is an avid gamer and Air Force Veteran.  He grew up in North Dakota and the Air Force decided to send him back. He follows professional
                football and basketball (Go Pack Go!!, Let's Go Bucks). His favorite activities include playing video games, watching movies, and exploring
                faraway places with his wife. Fun fact: Kris has spent a full six months of his life underground.
            </p>
        </div>

    </div>


    <div class="profile-card">

        <img class="profile-card--mugshot" src="../assets/alex.jpg" />

        <div>
            <div class="profile-cardHeader">
                <h3>Alex Stoforandov</h3>
                <a href="https://www.linkedin.com/in/alstof/">
                    <img src="../assets/linkedin.ico" alt="linkedin" class="favicon" />
                </a>
                <a href="https://github.com/al1s">
                    <img src="../assets/github.ico" alt="github" class="favicon" />
                </a>
            </div>

            <p>
                Kris is an avid gamer and Air Force Veteran.  He grew up in North Dakota and the Air Force decided to send him back. He follows professional
                football and basketball (Go Pack Go!!, Let's Go Bucks). His favorite activities include playing video games, watching movies, and exploring
                faraway places with his wife. Fun fact: Kris has spent a full six months of his life underground.
            </p>
        </div>

    </div>


    <div class="profile-card">

        <img class="profile-card--mugshot" src="../assets/jamilah.jpg" />

        <div>
            <div class="profile-cardHeader">
                <h3>Jamilah McWilliams</h3>
                <a href="https://www.linkedin.com/in/jamilah-mcwilliams/">
                    <img src="../assets/linkedin.ico" alt="linkedin" class="favicon" />
                </a>
                <a href="https://github.com/orgs/Praise-and-Provisions/people/thejamilah">
                    <img src="../assets/github.ico" alt="github" class="favicon" />
                </a>
            </div>

            <p>
                Jamilah is a native Seattleite and has had a career in hotels, restaurants and night life. During her tenure in the industry she has worked with companies such as the Four Seasons, Fairmont Hotels, and Hilton hotels to name a few.  She has a degree in Culinary Arts, Hospitality Management, and now adds extensive training in software development to her educational background. Her recent projects include project management, sales, marketing and technology for up and coming chef owner/operators. Jamilah has always had a passion for technology through every step of her career and she looks for ways to apply technology in new and interesting ways.
            </p>
        </div>

    </div>


    <div class="profile-card">

        <img class="profile-card--mugshot" src="../assets/christina.jpg" />

        <div>
            <div class="profile-cardHeader">
                <h3>Christina Gislason</h3>
                <a href="https://www.linkedin.com/in/christinagislason/">
                    <img src="../assets/linkedin.ico" alt="linkedin" class="favicon" />
                </a>
                <a href="https://github.com/ChristinaGislason">
                    <img src="../assets/github.ico" alt="github" class="favicon" />
                </a>
            </div>

            <p>
                Christina has a keen eye and appreciation for weird, beautiful things like ice flowers and ferrofluid. She could waste hours of her life searching niche music genres if she wasn’t so busy tending to her Korean-Icelandic-Puerto Rican hybrid babies, and learning to code. She aspires to pursue a career in blockchain-backed decentralized platforms. As she learns more about software engineering, she too like Elon, is convinced we are probably living in a simulation! 
            </p>
        </div>

    </div>
    
</article>
