@page "/"

<div class="board">
    <Board Cells="@boardViewModel.Cells" />
</div>

@functions {
TicTacToe.Core.Classes.BoardViewModel boardViewModel;

protected override async Task OnInitAsync()
{
    boardViewModel = TicTacToe.Core.UI.Instance.CurrentBoard;

    Object thisLock = new Object();
    TicTacToe.Core.UI.Instance.Manager.Updated
    += (obj, e) =>
    {
        lock (thisLock)
        {
            boardViewModel = TicTacToe.Core.UI.Instance.CurrentBoard;
            this.StateHasChanged();
        };
    };

    InitializeBoard();
    TicTacToe.Core.UI.Instance.Manager.StartGameLoop();
}

void InitializeBoard()
{
    TicTacToe.Core.UI.Instance.Manager.InitializeBoard();
    boardViewModel = TicTacToe.Core.UI.Instance.CurrentBoard;

    this.StateHasChanged();
}
}

