@page "/"

<div class="board">
    <Board Cells="@board.Cells" />
</div>

@functions {
    TicTacToe.Core.Classes.Board board;
    int boardSize = 3;

    protected override void OnInit()
    {
        board = TicTacToe.Core.UI.Instance.CurrentBoard;

        Object thisLock = new Object();
        TicTacToe.Core.UI.Instance.Manager.Updated
        += (obj, e) =>
        {
            lock (thisLock)
            {
                board = TicTacToe.Core.UI.Instance.CurrentBoard;
                this.StateHasChanged();
            };
        };

        InitializeBoard();
        TicTacToe.Core.UI.Instance.Manager.StartGameLoop();
    }

    void InitializeBoard()
    {
        TicTacToe.Core.UI.Instance.Manager.InitializeBoard(boardSize);
        board = TicTacToe.Core.UI.Instance.CurrentBoard;

        this.StateHasChanged();
    }
}

