@page "/"

<div class="menu">
    <SymbolMenu />
</div>
<div class="board">
    <Board Cells="@board.Cells" />
</div>
@if(ShowMessage)
{ 
    <div class="modal__component">@message</div>
}

@functions {
TicTacToe.Core.Classes.Board board;
string message;
bool ShowMessage;
int boardSize = 3;
string symbol = "X";

protected override void OnInit()
{
    board = TicTacToe.Core.UI.Instance.CurrentBoard;
    message = TicTacToe.Core.UI.Instance.Message;
    ShowMessage = TicTacToe.Core.UI.Instance.ShowMessage;

    Object thisLock = new Object();
    TicTacToe.Core.UI.Instance.Manager.Updated
    += (obj, e) =>
    {
        lock (thisLock)
        {
            board = TicTacToe.Core.UI.Instance.CurrentBoard;
            message = TicTacToe.Core.UI.Instance.Message;
            ShowMessage = TicTacToe.Core.UI.Instance.ShowMessage;

            this.StateHasChanged();
        };
    };

    InitializeBoard();
}

void InitializeBoard()
{
    TicTacToe.Core.UI.Instance.Manager.InitializeBoard(boardSize);
    board = TicTacToe.Core.UI.Instance.CurrentBoard;
    message = TicTacToe.Core.UI.Instance.Message;
    ShowMessage = TicTacToe.Core.UI.Instance.ShowMessage;

    this.StateHasChanged();
}
}
